


<div class="row" style="margin-top:150px;margin-bottom:268px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    	<div class="flash error"></div>
		<form method="post" id="new_spree_user" class="new_spree_user" action="/login" accept-charset="UTF-8">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <%#= devise_error_messages! %>
			<fieldset>
				<h2>Please Sign In</h2>
				<hr class="colorgraph">
				<div class="form-group">
			<input type="email" tabindex="1" name="spree_user[email]" id="spree_user_email" class="form-control input-lg" placeholder= "Email Address" >

					
                    
				</div>
				<div class="form-group">
					<input type="password" tabindex="2" name="spree_user[password]" id="spree_user_password" class="form-control input-lg" placeholder="Password" >
					
                   
				</div>
				<span class="button-checkbox">
					<button type="button" class="btn" data-color="info">Remember Me</button>
                    <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
					<a href="" class="btn btn-link pull-right">Forgot Password?</a>
				</span>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
					
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6" style="margin-top:-7px">
						<a href="/" class="btn btn-lg btn-primary btn-block">Cancel</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

