<% variant = line_item.variant -%>
            <%= order_form.fields_for :line_items, line_item do |item_form| -%>
              <tr>
                <td class="cart_product">
                   <% if variant.images.length == 0 %>
                      <%= link_to small_image(variant.product), variant.product %>
                     <% else %>
                      <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
                     <% end %>
                </td>
                <td class="cart_description">


                  <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
                   <%= variant.options_text %>
                   <p>SKU: <%= line_item_description_text(line_item.sku) %></p>
 
                  
                </td>
                <td class="cart_price">
                  <p><%= line_item.single_money.to_html %></p>
                </td>
                <td class="cart_quantity">
                  <div class="cart_quantity_button">
                    
                   
                    <%= item_form.text_field :quantity, :min => 0, :class => "cart_quantity_input", :size => 5 %>
                  </div>
                </td>
                <td class="cart_total">
                  <p class="cart_total_price"> <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>   </p>
                </td>
                <td class="cart_delete">
           
                  <%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
                </td>
              </tr>

            <%end%>