<style>
  h2.title:before{
  content: " ";
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 220px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -110px;
}
.product-image-wrapper{
  border:1px solid #79008C;
  overflow: hidden;
  margin-bottom:30px;
}
.single-products {
  position: relative;
}
.productinfo h2{
	color: #FE980F;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
}
.product-overlay h2{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
}


.productinfo p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-overlay {
  background:#79008C;
  opacity: 0.79;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
  opacity:;
}

.single-products:hover .product-overlay {
  display:block;
  height:100%;
}


.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  
}


.product-overlay p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.left-sidebar h2, .brands_products h2 {
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}



.left-sidebar h2:before{
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 130px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -65px;
}

h2.title:before{
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 220px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -110px;
}

</style>

	
<br>


	
<br>
<section>
		<div class="container">
			<div class="row">
				
				
				<div class="col-sm-9 padding-right" style="width:100%">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center" style="margin-top: -15px;position: relative;">Available Products</h2>
						<hr>
						<br>
						<%@products.each do |p|%>
						   
							<div class="col-sm-4" style="width:24.5%">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<% if defined?(image) && image %>
											
                  <%= image_tag image.attachment.url(:product), :itemprop => "image" %>
                <% else %>
                
                  <%= product_image(p, :itemprop => "image") %>
                <% end %>
											<h2><%=p.price%></h2>
											<p><%=p.name%></p>
											<br>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<a href="/products/<%=p.slug%>" class="btn btn-default add-to-cart" style="color: #FFFFFF;font-size: 19px;margin-left: 24%;margin-top: -203px;position: relative;background:none">View Details</a>
												
												<a href="#" class="btn btn-default add-to-cart" style="color: #FFFFFF;font-size: 19px;margin-left: 24%;margin-top: -73px;position: relative;background:none">Add To Cart</a>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						<%end%>
						
						
						
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	<br><br><br><br><br><br><br><br><br>