<style>
  .product-details{
  overflow:hidden;
}


#similar-product {
  margin-top: 40px;
}


#reviews {
  padding-left: 25px;
  padding-right: 25px;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}



.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #F7F7F0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: #FE980F;
  bottom: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

#similar-product .carousel-inner .item{
  padding-left:0px;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
}

.item-control {
  position: absolute;
  top: 35%;
}
.item-control i {
  background: #FE980F;
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover{
  background:#ccccc6;
}

.product-information {
  border: 1px solid #F7F7F0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}

.newarrival{
  position:absolute;
  top:0;
  left:0
}

.product-information h2 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}

.product-information span span {
  
  float: left;
  font-family: 'Roboto', sans-serif;
  
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
}
.product-information span input {
  border: 1px solid #DEDEDC;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 5px;
}

.share {
  margin-top: 15px;
}


.cart {
  background: #79008C;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}


.shop-details-tab {
  border: 1px solid #F7F7F0;
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
}
.shop-details-tab .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}


#reviews ul {
  background: #FFFFFF;
  border: 0 none;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
}

#reviews  ul  li {
  display:inline-block;
}

#reviews ul li a {
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-right: 15px;
}

#reviews ul li a i{
  color:#FE980F;
  padding-right:8px;
}

#reviews ul li a:hover{
  background:#fff;
  color:#FE980F;
}

#reviews p{
  color:#363432;
}

#reviews  form span {
  display: block;
}

#reviews form span input {
  background:#F0F0E9;
  border: 0 none;
  color: #A6A6A1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  outline: medium none;
  padding: 8px;
  width: 48%;
}
#reviews form span input:last-child {
  margin-left: 3%;
}

#reviews textarea {
  background: #F0F0E9;
  border: medium none;
  color: #A6A6A1;
  height: 195px;
  margin-bottom: 25px;
  margin-top: 15px;
  outline: medium none;
  padding-left: 10px;
  padding-top: 15px;
  resize: none;
  width: 99.5%;
}

#reviews button {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.category-tab {
  overflow: hidden;
}

.category-tab ul {
  background: #40403E;
  border-bottom: 1px solid #FE980F;
  list-style: none outside none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}

.category-tab ul li a {
  border: 0 none;
  border-radius: 0;
  color: #B3AFA8;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.category-tab ul  li  a:hover{
  background:#FE980F;
  color:#fff;
}

.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FE980F;
  border:0px;
  color: #FFFFFF;
  cursor: default;
  margin-right:0;
  margin-left:0;
}

.nav-tabs  li  a {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right:0;
}

.recommended_items {
  overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
  padding-left: 0;
}

.recommended-item-control {
  position: absolute;
  top: 41%;
}

.recommended-item-control i {
  background: none repeat scroll 0 0 #FE980F;
  color: #FFFFFF;
  font-size: 20px;
  padding: 4px 10px;
}

.recommended-item-control i:hover {
  background: #ccccc6;
}

.recommended_items  h2 {
}

</style>



<section>
    <div class="container">
      <div class="row">
        
        
        <div class="col-sm-9 padding-right" style="width:100%">
          <div class="product-details"><!--product-details-->
            <div class="col-sm-5">
              <div class="view-product">
                <img src="/assets/doc.png" alt="" />
               <%#= render 'photo', who: @spree_doctor %>
              </div>
          

            </div>
            <div class="col-sm-7">
              <div class="product-information"><!--/product-information-->
                <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                <h2>Dr. HareKrishna Dubedy<%#= @spree_doctor.name_with_dr %></h2>
                <p> <%#= @spree_doctor.degree %>MBBS,Medicine Specialist</p>
               
                <span>
                  <%# if @spree_doctor.experience_years %>
                    <span>Exp: 5 years experience<%#= "#{@spree_doctor.experience_years} years experience" %> </span>
                  <%#else%>  
                      
                  <%#end%>  
                 
                  
                </span>
                <p><b>Speciality:</b> Ayurveda</p>
                <p><b>Description:</b> Very good doctor with good hand.</p>
                <p><b>Recommendations:</b> 
                   <% #if @spree_doctor.recommendations.present? %>
                     <%#= t(:recommendations, count: @spree_doctor.recommendations.count) %>
                   <%#else%>
                     N/A
                   <%#end%>
                </p>
                <a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
              </div><!--/product-information-->
            </div>
          </div><!--/product-details-->
          
          <div class="category-tab shop-details-tab"><!--category-tab-->
            <div class="col-sm-12">
              <ul class="nav nav-tabs">
                <li><a href="#details" data-toggle="tab">Infos</a></li>
                <li><a href="#companyprofile" data-toggle="tab">Photos</a></li>
               
                <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade" id="details" >
                <h3>Practices at</h3>
        <div class='row'>
          <div class='col-sm-7'>
            <% @spree_doctor.doctor_employments.all.each do |empl| %>
            <div class='row'>
              <div class='col-xs-12'>
                <h5>
                  <strong>                  <%= "#{empl.clinic.suburb.name}," %>
</strong>
                  <%= "#{empl.clinic.suburb.city.name}" %>
                </h5>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-4'>
                <h4>
                  <span class='glyphicon glyphicon-map-marker'></span>
                  <%= link_to empl.clinic.name, empl.clinic %>
                </h4>
                <%= empl.clinic.full_address %>
              </div>
              <div class='col-sm-4'>
                <span class='glyphicon glyphicon-credit-card'></span>
                <%= "#{empl.consultation_currency} #{empl.consultation_price.round.to_s}" %>
              </div>
              <div class='col-sm-4'>
                <span class='glyphicon glyphicon-time'></span>
                <%= human_timings empl.timings %>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-4 col-sm-offset-8'>
                <%= render partial: 'booking_link', locals: { empl: empl } %>
              </div>
            </div>
            <hr>
            <% end %>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12'>
            <h3>Experience</h3>
            <ul>
              <% @spree_doctor.experiences.each do |exp| %>
              <li>              <%= "#{exp.start_year} &mdash; #{exp.human_end_year} at #{exp.place}" %>
</li>
              <% end %>
            </ul>
          </div>
        </div>
              </div>
              
              <div class="tab-pane fade" id="companyprofile" >
                <div class="col-sm-3">
                  <%= render @spree_doctor.images %>
                </div>
               
                
                
              </div>
              
              
              
              <div class="tab-pane fade active in" id="reviews" >
                <div class="col-sm-12">
                  
                <% @spree_doctor.reviews.all.each do |review| %>

                  <ul>
                    <li><a href=""><i class="fa fa-user"></i><%= review.appointment.name %></a></li>
                    
                    <li><a href=""><i class="fa fa-calendar-o"></i><%= l review.created_at %></a></li>
                  </ul>
                  
                  <p><%= review.text %></p>
                  
                <%end%>
                  <p><b>Write Your Review</b></p>
                  <form action="#">
                    <span>
                      <input type="text" placeholder="Your Name"/>
                      <input type="email" placeholder="Email Address"/>
                    </span>
                    <textarea name="" ></textarea>
                    <b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
                    <button type="button" class="btn btn-default pull-right">
                      Submit
                    </button>
                  </form>

                </div>
              </div>
              
            </div>
          </div><!--/category-tab-->
          
          <!--/recommended_items-->
          
        </div>
    </div>
  </section>
  <br><br><br><br><br><br><br><br><br>