





<div class="row" style="margin-top:150px;margin-bottom:268px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    	<div class="flash error"></div>
		<form method="post" id="new_spree_user" class="new_spree_user" action="/signup" accept-charset="UTF-8">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <%#= devise_error_messages! %>
			<fieldset>
				<h2>Register<a href="/doctor-signup" style="font-size:14px;float:right">Doctor Registration</a><span style="float:right;margin-top:-2px">&nbsp;/&nbsp;</span><a href="/clinic-signup" style="font-size:14px;float:right">Clinic Registration</a></h2>
				<hr class="colorgraph">
				<div class="form-group">
			

                    <input type="email" name="spree_user[email]" id="spree_user_email" class="form-control input-lg" placeholder= "Email Address" required=true>
					
                    
				</div>
				<div class="form-group">
				
			<input type="password" name="spree_user[password]" id="spree_user_password" class="form-control input-lg" placeholder="Password" required=true>
                   
				</div>
               <div class="form-group">
					
					<input type="password" name="spree_user[password_confirmation]" id="spree_user_password_confirmation" class="form-control input-lg" placeholder="Password Confirm" required=true>
                   
				</div>

				
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
					    <input type="submit" value="Register" name="commit" class="btn btn-lg btn-success btn-block">
                      
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6" style="margin-top:-7px">
						<a href="/" class="btn btn-lg btn-primary btn-block">Cancel</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>