<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Ayurvedayu</title>
	
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
   
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    
    <![endif]--> 
     
    <%= stylesheet_link_tag 'bootstrap.min','main','responsive' %>
    <%= javascript_include_tag 'jquery','bootstrap.min','jquery.prettyPhoto','jquery.isotope.min','main','wow.min','jssor.slider.mini'%>    

    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <!--/.top-bar-->
  
        <nav class="navbar navbar-inverse" role="banner" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/assets/Ayurvedayu.png" alt="logo" style="width:54%;margin-top:-9px"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    
                    <ul class="nav navbar-nav" style="<%=@d%>">
                        <li class="<%= params[:controller] == 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
                        <li class="<%= params[:controller] == 'spree/products' ? 'active' : '' %>"><a href="/products">Products</a></li>
                         <li class="<%= params[:controller] == 'spree/orders' ? 'active' : '' %>"><a href="/cart">Cart</a></li>
                         <%if !spree_current_user%>
                           <li class="<%= params[:controller] == 'spree/user_sessions' ? 'active' : '' %>"><a href="/login" >Login</a></li>
                         <%else%>
                           <li><a href="/logout" >Logout</a></li>
                         <%end%>  
                        <li><a href="/find-a-doctor">Find Doctor</a></li>
                       
                       
                       
                        <li><a href="blog.html">Blog</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
    <%#=debug(params)%>
    <%if params[:controller] != 'home'%>
      <%= flash_messages %>
    <%end%>  
   <%=yield%>
    <!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Blog</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="/contactUs">Contact Us</a></li>
                        <li><a href="/t&c">Terms & Conditions</a></li>
                        <li><a href="/privacy_policy">Privacy Policy</a></li>
                        <li><a href="/shipping_delivery">Shipping & Delivery Policy</a></li>
                        <li><a href="/cancelation_refund">Cancellation & Refund Policy</a></li>
                        <li><a href="/disclaimer_policy">Disclaimer Policy</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

   
</body>
</html>